<!DOCTYPE html>
<html>
 <head>
	<meta content=" text/html;charset=utf -8" http-equiv="Content-Type">
	<meta content ="utf-8"http-equiv="encoding">
	<!-- load the style.css -->	
	<link rel="stylesheet" href="style.css">
	<!-- load the d3.js library -->	
	<script src="https://d3js.org/d3.v5.min.js"></script>
 </head >
 
 <body>
	<input id="ms" class="message" v-model="message" placeholder="Introduceti string-ul">
	<div class="output-empty" v-if="message == ''">Arborele  </div>
	<!-- arbore.js  - a function to display a tree 
					- is based on "collapsible tree" sample from d3 library 
	-->
	<script src="arbore.js"></script> 
    <input value="Afiseaza arborele" type="button" onclick="on_button();" />
 </body>
</html>
